.project-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.project-list.fade-in {
  opacity: 1;
}

.project-header {
  font-size: 3rem;
  color: #ffdcc1;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-container {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #679289;
  animation: zoomIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.project-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.2),
    transparent
  );
  transition: 0.5s;
}

.project-container:hover::before {
  left: 100%;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  transition: all 0.5s ease;
}

.project-image:hover {
  transform: scale(1.1);
}

.project-details {
  flex: 1;
}

.project-name {
  font-size: 2rem;
  margin-top: 0;
  color: #ffefe3;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-title {
  font-size: 1.75rem;
  margin-top: 0;
  color: #ffefe3;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-description {
  margin-top: 10px;
  color: #ffefe7;
  font-size: 1.25rem;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-link {
  color: #ffdcc1;
  text-decoration: none;
  transition: all 0.5s ease;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-unlinked {
  color: #ffdcc1;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-unlinked:hover {
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 2.25rem;
}

.project-git-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
  text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-git-link:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.25rem;
}

.project-image-placeholder {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d7873;
    border-radius: 8px;
    margin-right: 20px;
    font-size: 120px;
    transition: all 0.5s ease;
    color: #ffefe3;
    text-shadow: 0 0 10px rgba(6, 4, 4, 0.3);
}

.project-image-placeholder:hover {
    transform: scale(1.1);
    background-color: #2a8f89;
}
