:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d7873;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body Style Sheet */
body {
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

/* Size adjustments */
@media only screen and (max-width: 768px) {
  .Name {
    font-size: 35px; 
  }

  .NavbarList {
    margin-right: 5%;
  }
  .Navbar {
    font-size: 24px; 
    align-items:center;
  }

  .Copyright {
    font-size: 23px; 
    margin-right: 7%;
  }

  .font-text {
    font-size: 14px; 
  }

  .homepage-boxes {
    flex-direction: column;
    align-items: center;
  }

  .about-box, .picture-box {
    width: 90%;
    max-width: 100%;
    margin-bottom: 5vw;
  }

  .headshot img {
    height: auto; 
    max-width: 80%; 
  }

  body {
    padding-bottom: 150px;
  }

  .footer {
    justify-content: center;
  }
  
  .project {
    flex-direction: column; 
    align-items: center;
  }

  .project-image {
    margin-right: 0; 
    margin-bottom: 20px;
    width: 80%; 
  }

  .landing-container {
    height: 200dvh;
  }
}
