:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #865D36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Style Sheet */

.Header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12vw;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3E362E;
  margin: 0;
  padding: 0;

}

.Name {
  font-size: 3.5vw;
  color: #AC8968;
  margin: 0;
  padding: 0;
}

.NavbarList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 2vw;
  padding: 10px;
  margin: 1px 10px 0 ;
}

.Navbar {
  font-weight: bold;
  color: #93785B;
  text-decoration: inherit;
}

.Navbar:hover {
  text-decoration: underline;
  color: #192231;
}

/* Body Style Sheet */

body {
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
}

.pdf-container {
  position: absolute;
  top: 12vw;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-object {
  border: none;
  padding: 0; 
  width: 100%; 
  height: 100%; 
}

.homepage-boxes {
  display: flex;
  justify-content: center; 
  margin-top: 16vw;
  gap: 5vw; 
}

.about-box, .picture-box {
  background-color: #3E362E;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%; 
  border: 2px solid white;
}

.about-heading {
  font-size: 2.75rem; 
  color: grey;
  text-align: center;
  margin-bottom: 1rem; 
}

.about-text {
  font-size: 1.5rem; 
  line-height: 1.6;
  color: #f7d1d1;
  margin-bottom: 1.5rem; 
  text-align: center;
}

.about-links {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.about-links:hover {
  text-decoration: underline;
}

.headshot { 
  text-align: center;
}

.headshot img {
  max-width: 100%; 
  height: 400px; 
  border-radius: 50%; 
  border: 4px solid white;
}

.picture-info h1 {
  font-size: 3rem;  
  color: grey;
  text-align: center;
}

.picture-info h3 {
  font-size: 1.75rem;
  color: white;
  text-align: center;
}

.picture-info p {
  font-size: 1.25rem; 
  line-height: 1.6;
  color: #f7d1d1;;
  margin-bottom: 1rem; 
  text-align: center;
}


/* Footer Style Sheet */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.Copyright {
  margin: 0;
  font-size: 1.25vw;
  font-weight: bold;
  
}

.icons {
  list-style-type: none;
  padding-right: 50px;
  margin: 0;
  display: flex;
}

.font-text-bundle {
  margin-right: 40px;
  font-size: 14px;
}

.font-text {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.25vw;
}

.font-text:hover {
  text-decoration: underline;
}

.footer i {
  margin-right: 7.5px;
}

.project-list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 12vw; 
}

.project-header {
  font-size: 3rem;
}

.project-container {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 20px; 
  margin-bottom: 60px; 
  background-color: black;
}

.project {
  display: flex;
}

.project-image {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px; 
}

.project-details {
  flex: 1;
}

.project-name {
  font-size: 2rem; 
  margin-top: 0;
}

.project-title {
  font-size: 1.5rem;
  margin-top: 0;
}

.project-description {
  margin-top: 10px;
}

/* Additional Components */

.opportunities-box {
  background-color: #3E362E;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 4vw; 
  overflow: hidden; 
  white-space: nowrap;
}

.opportunities-text {
  font-size: 2rem;
  font-style: oblique;
  font-weight: bold;
  line-height: 1.5;
  color: #f7d1d1;
  white-space: nowrap; 
  animation: conveyor-belt 17s linear infinite; 
}


@keyframes conveyor-belt {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}


/* Size adjustments */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 1000px) {
  .homepage-boxes {
    flex-direction: column;
    align-items: center; 
  }
  
  .about-box, .picture-box {
    width: 90%;
    max-width: 100%; 
    margin-bottom: 5vw;
  }

  body {
    padding-bottom: 150px;
  }

}
